body { color: white; background:rgb(98, 121, 253); }

 

  #camera {
       border: 2px dashed black; width: 350px; height: 300px;
 }

   .name_of_objects,#result_object_name , #result_object_accuracy { 
       color:black;
       font-size:medium;
 }
 